@import 'pixel-retroui/dist/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: white;
  background-color: #101016;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-normal: #f193ff;
  --text-accent: #f0beff;

  --bg-normal: black;
  --bg-accent: #913ddb;

  --border-normal: #7f61ff;
  --border-accent: #7f61ff;

  --shadow-normal: #913ddb;
  --shadow-accent: black;

  --neon-normal: #4d3bd9;
}

html {
  font-size: 14px;
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('bbblurry.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
}
